body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(90deg,rgba(152, 185, 218, 1) 0%, rgba(194, 212, 237, 1) 8%, rgb(244, 247, 248) 24%);
  padding: 20px;
}

.nav-tabs {
    border-bottom: 2px solid rgb(32, 148, 173);
}

button[aria-selected="false"] {
  background-color: white !important;
  border: none;
  color: rgb(32, 148, 173);
}

button[aria-selected="false"]:hover {
  color: rgb(32, 148, 173) ;
}

button {
    border: 2px solid rgb(32, 148, 173) !important;
    border-bottom: none !important;
}

button[aria-selected="true"] {
    border: none;
    color: white !important;
  background-color: rgb(32, 148, 173) !important;
}


.dx-datagrid {
    background-color: bisque;
    border-radius: 20px;
    margin-top: 40px;

    .dx-datagrid-header-panel {
        height: 37px;

        .dx-toolbar {
            height: inherit;

            .dx-toolbar-items-container {
                height: inherit;
            }
        }
    }
}

.dx-datagrid.header {
    height: 37px;
}

.rating {
  display: flex;
  direction: rtl; /* Inverte a ordem para facilitar hover */
  justify-content: center;
  gap: 5px;
}

.rating input {
  display: none;
}

.rating label {
  font-size: 2rem;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
}

.rating label:hover,
.rating label:hover ~ label {
  color: gold;
}

.rating input:checked ~ label {
  color: #ccc;
}

.rating input:checked + label,
.rating input:checked + label ~ label {
  color: gold;
}

.comentario-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 1rem;
  color: #333;
}

.comentario-container textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: vertical;
  box-sizing: border-box;
}

.row-pendente {
  background-color: #fff3cd; /* amarelo claro */
}

.row-confirmada {
  background-color: #d4edda; /* verde claro */
}

.row-cancelada {
  background-color: #f8d7daa8; /* vermelho claro */
}

.dx-command-edit-with-icons {
  background-color: white
}

