body {
  display: flex; 
  font-family: 'Poppins', sans-serif;
  background: #dfebed;
  background: linear-gradient(90deg,rgba(223, 235, 237, 1) 0%, rgba(194, 212, 237, 1) 8%, rgba(152, 185, 218, 1) 24%);
  text-align: center;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
    color: white !important;
    margin: 30px 0 !important;
}

img {
  width: 180px; 
  border-radius: 20px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);  
}

button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #0077cc !important;
  color: white !important;
  border: none;
  cursor: pointer;
  border-radius: 20px !important; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2) !important;
}


.btn-sobre {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-sobre:hover {
    background-color: #0056b3;
    transform: translateY(-2px); 
}