body {
  display: flex; 
  font-family: 'Poppins', sans-serif;
  background: #dfebed;
  background: linear-gradient(90deg,rgba(223, 235, 237, 1) 0%, rgba(194, 212, 237, 1) 8%, rgba(152, 185, 218, 1) 24%);
  text-align: center;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #f8f8f8;
}

h2 {
  color: #f8f8f8;
}

.section {
  margin-top: 20px;
  border-radius: 20px;  
}

.section.hide{
  display: none !important;
}

.form-group {
  margin: 10px 0;
  border-radius: 20px;
}

input {
  padding: 8px;
  width: 250px; 
}

h2 {
    color: white !important;
    margin: 30px 0 !important;
}

button.action {
  padding: 10px 20px;
  margin: 5px;
  background-color: #0077cc !important;
  color: white !important;
  border: none;
  cursor: pointer;
  border-radius: 20px !important; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2) !important;
}

button.action:hover {
  background-color: #005fa3;
}
img {
  width: 180px; 
  border-radius: 20px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  
}
